* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: #06d6a0 0%;
  animation-name: AniBack;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes AniBack {
  0% {
    background-color: #06d6a0;
  }
  50% {
    background-color: #118ab2;
  }
  100% {
    background-color: #06d6a0;
  }
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #073b4c;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 10px 10px 10px #03232e;
}

h1 {
  margin: 32px 0;
  color: #ffd166;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #ffd166;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(75deg, #ffd166 0%, #e2dd53 100%);
  color: rgb(27, 27, 27);
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #ffd166;
}

.todo-button.edit {
  background: linear-gradient(90deg, #ffd166 0%, #06d6a0 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, #06d6a0 0%, #50ffd0 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(0, 0, 0);
}

.edit-icon {
  margin-right: 5px;
  color: rgb(0, 0, 0);
}
